.main-window {
  font-family: sans-serif;
  border: 1px solid #eee;
  border-radius: 2px;
  padding: 20px;
  margin: 1em;
  user-select: none;
  overflow-x: auto;
}

.send-box {
  background-color: greenyellow;
  margin: 0.5em;
  padding: 1em;
}

.receive-box {
  background-color: blue;
  color: #eee;
  margin: 0.5em;
  padding: 1em;
}

.rates-box {
  background-color: azure;
  padding: 1em;
}