<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Currency converter</title>
    <link rel="stylesheet" href="./styles/index.css"></head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <body>
      <div id="currency-form" class="container-fluid">
        <h1>Conversor de moedas</h1>
        <div class="form-group">
          <div class="send-box">
            <label for="input-source-value">Você envia</label>
            <input
              id="input-source-value"
              class="form-control"
              v-model="src_amount"
              @keyup="calculate"
              required
            >
            <div class="valid-feedback">Ok.</div>
            <div class="invalid-feedback">Preencha o valor de origem.</div>
            <select
              class="custom-select"
              v-model="src_currency"
              @change="setRate"
            >
              <option key="BRL" value="BRL">Reais</option>
              <option key="USD" value="USD">Dólares</option>
              <option key="EUR" value="EUR">Euros</option>
            </select>
          </div>
          <div class="receive-box">
            <label for="input-converted-value">Beneficiário recebe</label>
            <input
              id="input-converted-value"
              class="form-control"
              v-model="converted_value"
              @keyup="calculate"
            >
            <select
              class="custom-select"
              v-model="dest_currency"
              @change="setRate"
            >
              <option key="BRL" value="BRL">Reais</option>
              <option key="USD" value="USD">Dólares</option>
              <option key="EUR" value="EUR">Euros</option>
            </select>
          </div>
          <div class="rates-box">
            <li>{{ src_currency }} 1 = {{ rate.toFixed(2) }} {{ dest_currency }}</li>
            <li>IOF (1,10%) = {{ iof_value.toFixed(2) }} {{ src_currency }} </li>
            <li>Taxa administrativa = {{ fx_value }} {{ src_currency }}</li>
          </div>
        </div>
      </div>
    </body>
    <!-- Loading order matters! -->
    <script src="https://unpkg.com/vue@next"></script>
    <script src="./scripts/index.js"></script>

</html>
